.footer {
    background-color: #090A16;
    min-height: 25rem;
    color: #fff;
    padding: 80px;
    text-align: center;
}

.footer-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


.contact-form {
    width: 300px;
    text-align: left;
}

.contact-form h3 {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 12px;
}

.submit-button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-form {
        width: 100%;
    }
}
